@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px
}

::-webkit-scrollbar-thumb {
  border: 6px solid rgb(222, 220, 220);
  border-radius: 10px;

}

ul,
li {
  list-style: none;
}

button,
input {
  outline: none;
  border: none;
}

user-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* color:#d2e1fa */

}

.icon-image {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

